.timerPage-wrapper {
    background-color: rgba(238, 238, 238, 1);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.minutesSelector-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.decrement {
    margin: 2rem;
    cursor: pointer;
}

.minutesDecider-container {
    text-align: center;
    font-family: "PT Sans", sans-serif;
}

.minutesDecider {
    font-size: 5rem;
}

.timePage-minutesText {
    color: rgba(0, 0, 0, 0.4);
}

.startTimer-container {}

.checkbox-container {
    display: flex;
    margin: 2rem 1rem;
}

.intervals-box {
    margin-right: 1rem;
    width: 1.5rem;
}

.inline-text {
    font-family: "PT Sans", sans-serif;
    font-size: 1.2rem;
}

.startTimer-button {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    border: 1.5px solid rgba(34, 34, 34, 1);
    border-radius: 5px;
    padding: 0.5rem 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
    text-decoration: none;
    color: black;
    /* transition: background-color 0.2s; */
}