.alarmPage-wrapper {
    background-color: rgba(34, 34, 34, 1);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.alarmIcon-container {
    text-align: center;
    margin-top: 10rem;
    position: relative;
}

.rings {
    position: absolute;
    top: 35%;
    width: 8rem;
    height: 8rem;
    z-index: 1;
    border: 1rem solid rgba(170, 170, 170, 0.2);
    background-color: transparent;
    border-radius: 50%;
}

.alarmPage-text {
    margin-top: 10rem;
    position: absolute;
    color: white;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 2.2rem;
    z-index: 99;
}

.newTimer-button {
    font-family: "PT Sans", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgb(34, 34, 34);
    padding: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(223, 223, 223, 0.2);
}