.frontPage-wrapper {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.logo-wrapper {
    text-decoration: none;
    text-align: center;
}

.logo-wrapper:hover {
    animation: pulse 2s infinite ease-in-out;
}

.frontPage-text {
    color: white;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 0.6rem;
    letter-spacing: 0.2rem;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}