.navIcon {
    align-self: flex-start;
    margin: 1rem;
    border: none;
    cursor: pointer;
    background: transparent;
    z-index: 100;
}

.intervals-text {
    font-family: "PT Sans", sans-serif;
    position: absolute;
    top: 1.2rem;
}

.nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 99;
    background-color: hsla(0, 0%, 0%, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.nav-item {
    text-decoration: none;
    color: white;
    font-family: "PT Sans", sans-serif;
    width: 100vw;
    text-align: center;
    padding: 1rem;
}

.nav-item:hover,
.nav-item-active {
    background-color: hsla(0, 0%, 59%, 0.294);
}